/*! Заголовки, общие БЄМ блоки и проче... ========================================================================================================================================================*/
section {
  padding: toRem(68) 0;
  @media (max-width: $pc) {
    padding: toRem(48) 0;
  }
  @media (max-width: $mobile) {
    padding: toRem(24) 0;
  }
}

.title {
  font-weight: 500;
  font-size: toRem(28);
  line-height: toRem(36);
  @media (max-width: $pc) {
    font-size: toRem(24);
    line-height: toRem(32);
  }
  @media (max-width: $mobile) {
    font-size: toRem(18);
    line-height: toRem(27);
  }
}

/*! Swiper-navigation ======================================================================================================================================================== */
.swiper-navigation {
  display: flex;
  align-items: center;
  gap: toRem(6);
  padding: toRem(4);
  border: 1px solid $lightGrey;
  border-radius: toRem(100);
  @media (max-width: $mobile) {
    display: none;
  }
}
.swiper-button-prev {
  width: toRem(28);
  height: toRem(28);
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;
  transition: all 0.3s;
  @extend %btnHoverFill;
  @extend %btnActiveFill;
  &::before {
    content: '';
    width: toRem(12.25);
    height: toRem(12.25);
    background: url('@img/icons/arrow.svg') 0 0 / contain no-repeat;
  }
}
.swiper-button-next {
  @extend .swiper-button-prev;
  &::before {
    transform: rotate(-180deg);
  }
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: toRem(8);
  margin-top: toRem(12);
  .swiper-pagination-bullet {
    width: toRem(6);
    height: toRem(6);
    border-radius: 50%;
    background: $grey;
    &.swiper-pagination-bullet-active {
      background: $blue;
    }
  }
  @media (min-width: $mobile) {
    display: none;
  }
}