/*! Catalog ======================================================================================================================================================== */
.catalog {
  background: $lightBlueBg;
  // .catalog__container
  &__container {
  }
  // .catalog__top
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: toRem(24);
    @media (max-width: $pc) {
      padding-bottom: toRem(20);
    }
    @media (max-width: $mobile) {
      padding-bottom: toRem(12);
    }
  }
  // .catalog__title
  &__title {
  }
  // .catalog__slider-navigation
  &__slider-navigation {
  }
  // .catalog__slider
  &__slider {
  }
  // .catalog__wrapper
  &__wrapper {
  }
  // .catalog__slide
  &__slide {
  }
  // .catalog__card
  &__card {
  }
}
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: toRem(20);
  padding: toRem(8) toRem(12) toRem(12);
  background: $white;
  box-shadow: 0px 0px 10px 0px rgba(28, 45, 64, 0.05);
  border-radius: toRem(16);
  @media (max-width: $pc) {
    gap: toRem(12);
    border-radius: toRem(12);
  }
  @media (max-width: $tablet) {
    padding: toRem(8);
  }
  // .card__link
  &__link {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    @media (any-hover: hover) {
      &:hover {
        .card__quick-view-btn {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
  // .card__picture
  &__picture {
    position: relative;
    margin-bottom: toRem(12);
    @media (max-width: $pc) {
      margin-bottom: toRem(8);
    }
  }
  // .card__picture-inner-ibg
  &__picture-inner-ibg {
    padding-bottom: toRem(184);
    @media (max-width: $pc) {
      padding-bottom: toRem(140);
    }
    @media (max-width: $tablet) {
      padding-bottom: toRem(148);
    }
  }
  // .card__masthead-controls
  &__masthead-controls {
    position: absolute;
    top: toRem(4.5);
    right: toRem(3);
    display: flex;
    gap: toRem(4);
    @media (max-width: $pc) {
      top: 0;
      right: 0;
    }
  }
  // .card__compare
  &__compare {
    width: toRem(28);
    height: toRem(28);
    padding: toRem(6);
    border-radius: toRem(7);
    background: $white;
    box-shadow: 0px 2px 5px 0px rgba(28, 45, 64, 0.1);
    font-size: toRem(12);
    @extend %btnHoverColor;
    @extend %btnActiveColor;
    @media (max-width: $tablet) {
      width: toRem(32);
      height: toRem(32);
      font-size: toRem(15);
    }
  }
  // .card__favourite
  &__favourite {
    @extend .card__compare;
  }
  // .card__quick-view-btn
  &__quick-view-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: toRem(4) toRem(8);
    display: flex;
    align-items: center;
    gap: toRem(8);
    background: $white;
    box-shadow: 0px 2px 7px 0px rgba(28, 45, 64, 0.12);
    border-radius: toRem(5);
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: toRem(12);
    line-height: toRem(16);
    color: $darkGrey;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    @extend %btnHoverColor;
    @extend %btnActiveColor;
    &::before {
      font-size: toRem(14.67);
    }
    @media (max-width: $pc) {
      font-size: toRem(10);
      line-height: toRem(12);
      &::before {
        font-size: toRem(11.33);
      }
    }
  }
  // .card__code
  &__code {
    position: absolute;
    bottom: 0;
    left: toRem(4);
    padding: toRem(4) toRem(6);
    background: $white;
    border-radius: toRem(5) toRem(5) 0 0;
    display: flex;
    gap: toRem(4);
    font-family: 'Manrope', sans-serif;
    font-size: toRem(12);
    line-height: toRem(16);
    &::before {
      content: 'Арт.';
    }
    @media (max-width: $pc) {
      color: $darkGrey;
      font-size: toRem(10);
      line-height: toRem(12);
    }
  }
  // .card__reviews-count
  &__reviews-count {
    @extend .card__code;
    left: auto;
    right: toRem(4);
    padding: toRem(4) toRem(4) 0;
    align-items: center;
    &::before {
      content: '';
      width: toRem(14);
      height: toRem(14);
      background: url('@img/icons/reviews-count.svg') 0 0 / contain no-repeat;
    }
    @media (max-width: $pc) {
      font-size: toRem(12);
      line-height: toRem(16);
      &::before {
        width: toRem(12);
        height: toRem(12);
      }
    }
  }
  // .card__info
  &__info {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: toRem(12);
    margin-bottom: toRem(20);
    @media (max-width: $pc) {
      margin-bottom: toRem(12);
      gap: toRem(8);
    }
  }
  // .card__product-name
  &__product-name {
    @media (max-width: $pc) {
      height: toRem(60);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: toRem(14);
      line-height: toRem(20);
    }
  }
  // .card__stickers-list
  &__stickers-list {
    display: flex;
    gap: toRem(4);
  }
  // .card__stickers-item
  &__stickers-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: toRem(4) toRem(8);
    border-radius: toRem(5);
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: toRem(12);
    line-height: toRem(16);
    white-space: nowrap;
    color: $white;
    @media (max-width: $pc) {
      font-size: toRem(10);
      line-height: toRem(12);
    }
    @media (max-width: $pc) and (min-width: $mobile), (max-width: $mobileSmall) {
      &:nth-child(n + 3) {
        opacity: 0;
        pointer-events: none;
      }
    }
    @media (max-width: $tablet) {
      padding: toRem(2) toRem(4);
      border-radius: toRem(3);
      font-size: toRem(8);
    }
    // .card__stickers-item--in-stock
    &--in-stock {
      background: $stickerLightGreen;
      color: $stickerGreen;
      &::before {
        content: 'В наличии';
      }
    }
    // .card__stickers-item--out-of-stock
    &--out-of-stock {
      background: $stickerLightOrange;
      color: $stickerDarkOrange;
      &::before {
        content: 'Нет в наличии';
      }
    }
    // .card__stickers-item--new
    &--new {
      background: $blue;
      &::before {
        content: 'Новинка';
      }
    }
    // .card__stickers-item--promo
    &--promo {
      background: $stickerDarkGreen;
      &::before {
        content: 'Акция';
      }
    }
    // .card__stickers-item--sale
    &--sale {
      background: $stickerYellow;
      &::before {
        content: '%';
      }
    }
    // .card__stickers-item--hit
    &--hit {
      background: $stickerOrange;
      &::before {
        content: 'Хит';
      }
    }
  }
  // .card__price
  &__price {
  }
  // .card__controls
  &__controls {
    position: relative;
    height: toRem(52);
    @media (max-width: $pc) {
      height: toRem(36);
    }
    .card__button,
    .card__quantity {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: all 0.3s;
    }
  }
  // .card__button
  &__button {
    .is-in-cart & {
      opacity: 0;
      pointer-events: none;
    }
  }
  // .card__quantity
  &__quantity {
    opacity: 0;
    pointer-events: none;
    .is-in-cart & {
      opacity: 1;
      pointer-events: all;
    }
  }
}
.price {
  display: flex;
  gap: toRem(12);
  white-space: nowrap;
  color: $darkGrey;
  .price__sale,
  .price__old {
    display: flex;
    gap: toRem(4);
    &::after {
      content: '₽';
    }
  }
  @media (max-width: $pc) {
    flex-direction: column-reverse;
    gap: toRem(4);
    line-height: toRem(20);
  }
  // .price__lower
  &__lower {
    display: flex;
    gap: toRem(4);
  }
  // .price__sale
  &__sale {
    font-weight: 600;
    font-size: toRem(20);
    color: $mainColor;
    @media (max-width: $pc) {
      font-size: toRem(16);
    }
    @media (max-width: $tablet) and (min-width: $tabletSmall) {
      font-size: toRem(18);
    }
  }
  // .price__unit
  &__unit {
    @media (max-width: $pc) {
      font-size: toRem(14);
    }
  }
  // .price__old
  &__old {
    text-decoration: line-through;
    @media (max-width: $pc) {
      font-size: toRem(12);
      line-height: toRem(16);
    }
    @media (max-width: $tablet) and (min-width: $tabletSmall) {
      line-height: toRem(20);
    }
  }
}
.button {
  // .button--cart
  &--cart {
  }
}
.quantity {
  // .quantity__button
  &__button {
  }
  // .quantity__button_minus
  &__button_minus {
  }
  // .quantity__input
  &__input {
  }
  // .quantity__button_plus
  &__button_plus {
  }
}

/*! Form-section ======================================================================================================================================================== */
.form-section {
  // .form-section__container
  &__container {
  }
  // .form-section__form
  &__form {
    padding: toRem(20) toRem(32);
    border: 1px solid $blue;
    border-radius: toRem(24);
    @media (max-width: $pc) {
      padding: toRem(16) toRem(24);
    }
    @media (max-width: $tablet) {
      padding: toRem(16);
    }
  }
}