@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,700&display=swap);

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Inter", sans-serif;
$fontSize: toRem(16); // Размер шрифта по умолчанию

// Основные цвета
$mainColor: #1A1A1A; // Цвет шрифта по умолчанию
$white: #fff;
$blue: #4092F1;
$lightBlueBg: #F5F8FA;
$lightBlue: #EDF5FE;
$hoverBlue: #E2EEFC;
$hoverDarkBlue: #3886E1;
$pressBlue: #DAE8FA;
$pressDarkBlue: #2176DA;
$grey: #CBCFD3;
$lightGrey: #ECEFF8;
$darkGrey: #6A727B;
$stickerGreen: #64B847;
$stickerDarkGreen: #67BB49;
$stickerLightGreen: #F0F7EE;
$stickerOrange: #EC7B52;
$stickerDarkOrange: #E16A6A;
$stickerLightOrange: #F7EEEE;
$stickerYellow: #FCDF28;
$formErrorBg: #FAF1F1;
$formError: #ED5858;

// Минимальная ширина страницы
$minWidth: 360;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера
$maxWidthContainer: 1660;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 40;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em(1400.98);
$tablet: em(1024.98);
$tabletSmall: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 2;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	/* Скролл заблокирован ========================================================================================================================================================*/
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}
/* Оболочка wrapper ========================================================================================================================================================*/
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

/* Ограничивающий контейнер ========================================================================================================================================================*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($maxWidthContainer);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: em(1699.98)) {
			max-width: toRem(1184);
		}
		@media (max-width: $tablet) {
			max-width: toRem(952);
		}
		@media (max-width: $tabletSmall) {
			max-width: toRem(696);
		}
		@media (max-width: $mobile) {
			max-width: toRem(655);
		}
		@media (max-width: em(694.98)) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных страниц
@import "home";
